// screen sizes
$small: 640px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;

// font-sizes
$text-small: 0.875rem;
$text-medium: 1rem;
$text-large	: 1.125rem;
$text-x-large	: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
